<?xml version="1.0"?>
<launch>
  <!-- This file is based on the examples of the `gazebo_ros` packages. -->
  <env name="GAZEBO_MODEL_PATH" value="$(find os1_64_bauzil)/models"/>

  <!-- Arguments we can pass to the launch file. -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>
  <arg name="verbose" default="false"/>
  <arg name="output" default="screen"/>
  <arg name="world_name" default="bauzil"/>
  <arg name="world_filename" default="$(find os1_64_bauzil)/worlds/$(arg world_name).world"/>
  <arg name="respawn_gazebo" default="false"/>
  <arg name="use_clock_frequency" default="false"/>
  <arg name="pub_clock_frequency" default="100"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_filename)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
    <arg name="recording" value="$(arg recording)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="extra_gazebo_args" default="$(arg extra_gazebo_args)"/>
    <arg name="physics" default="$(arg physics)"/>
    <arg name="verbose" default="$(arg verbose)"/>
    <arg name="output" default="$(arg output)"/>
    <arg name="respawn_gazebo" default="$(arg respawn_gazebo)"/>
    <arg name="use_clock_frequency" default="$(arg use_clock_frequency)"/>
    <arg name="pub_clock_frequency" default="$(arg pub_clock_frequency)"/>
  </include>
</launch>
